registry=https://pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support.
; begin auth token
//pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/registry/:username=wwutilities
//pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/registry/:_password=ZjVwcGxsZ2phMm5xY3FpYWlhZG5hbDZmNnN6cnRkeXQ0ZWhneHFyZW5xa25uaGF1cXBscQ==
//pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/:username=wwutilities
//pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/:_password=ZjVwcGxsZ2phMm5xY3FpYWlhZG5hbDZmNnN6cnRkeXQ0ZWhneHFyZW5xa25uaGF1cXBscQ==
//pkgs.dev.azure.com/WalesWestUtilities/_packaging/wwutilities/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
